
.cont 
{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999999;
	text-align: center;
}

.preview-command 
{
	transition: opacity 0.2s ease-in;
	background-color: black;
	margin: 0 auto;
	opacity: 0.8;
	color: white;
	font-size: 5em;
}
