<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            font-family: "arial";
        }

        .help-box {
            background-color: rgba(30, 30, 30, 0.8);
            color: white;
            padding: 0 10px 10px 10px;
        }

        .help-box h4 {
            padding: 5px 0;
            margin: 0;
        }

        .top-bar {
            text-align: right;
        }

        .close-btn {
            font-size: 2em;
            cursor: pointer;
        }
    </style>
    <script>
        // TODO: Close button
//        parent.closeIFrame();
    </script>
</head>
<body>
<div class="help-box">
    <!--<div class="top-bar">-->
        <!--<span class="close-btn">×</span>-->
    <!--</div>-->
    <h4>Command Examples</h4>
    <div>Click [number - eg. six/sixth]</div>
    <div>Preview [number]</div>
    <div>Comments [number]</div>
    <div>Scroll down</div>
    <div>Top</div>
    <div>Little down - scrolls down a little</div>
    <div>Back</div>
    <div>Forward</div>
    <div>R [subreddit name] (goes to subreddit r/[subreddit name])</div>
    <div>Play 7</div>
    <div>Pause</div>
    <div>Resume</div>
    <div>Refresh</div>
    <div>Reddit</div>
    <div>Help</div>
    <div>Close help</div>
</div>
</body>
</html>