
.cont
{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999999999;
	text-align: center;
}

.rnh290318-iframe {
	text-align: left;
	font-family: "arial";
	border: none !important;
	margin: 0 !important;
    padding: 0 !important;
	position: fixed !important;
	/* # youtube has 1999999999 */
	z-index: 2999999999 !important;
}

#rnh290318-live-text-overlay {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
}

.nhm-full-screen {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100% !important;
	height: 100% !important;
}

#nhm-preview-cmd-box {
	pointer-events: none !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 20rem;
}
