<style>
    #live-text-cont {
        /* resets any parent styling like line-height etc. */
        all: initial;
        pointer-events: none;
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        /* # youtube has 1999999999 */
        /* # helpbox has 2000000010 */
        z-index: 2000000020 !important;
    }

    #live-text {
        transform: translate(0, 0);
        transition: opacity 0.2s ease-in, transform 0.2s, max-width 10s;
        opacity: 1;
    }

    /* dont' use REM as that's page dependent */
    #live-text span {
        font-family: "Barlow", sans-serif;
        font-weight: 200;
        display: inline-block;
        padding: 5px 9px;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0 auto;
        color: #8c8c8c;
        font-size: 30pt;
    }

    #live-text span.final {
        color: white;
    }

    #live-text span.success {
        color: white;
        background-color: rgba(55, 138, 82, 0.8);
    }

    #live-text span.error {
        background-color: rgba(148, 29, 29, 0.8);
    }

    #live-text.leave {
        transform: translate(0, -35px);
        opacity: 0;
    }

    #live-text.enter {
        opacity: 1;
    }

</style>
<div id="live-text-cont">
    <div id="live-text">
    </div>
</div>
