<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <script src="../vendor/jquery-3.2.1.min.js"></script>
    <script src="../vendor/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../vendor/material-icons.css"></link>
    <style>

    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    </style>
    <title>No Hand Man</title>
</head>

<body>
    <div style="text-align: center">
        <options-page></options-page>
        <!-- include riot.js -->
        <script src="../vendor/riot.csp.js"></script>
        <!-- include the tag -->
        <script src="./tags/all.js"></script>
        <script src="../dist/options.js"></script>
    </div>
</body>

</html>
